/*スマホ及び共通設定*/
.container {
    display: grid;
    width: 100%;
    max-width: 960px;
    grid-template-columns: 100%;
    padding: 0 4%;
    /*margin: 0 auto;*/
    text-align: center;
}

.header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.header h1 {
    background-color: #000;
    color: #fff;
}
h1 {
    display: inline-block;
    grid-column: 0 auto;
    border-bottom:1px solid #000;
}
.jikoshokai img {
    border-radius: 50%;
}

.profile {
    margin-top: 80px;
}

footer {
    border-bottom: 8px solid #000;
    margin-top: 100px;
}

/*PCの設定*/
@media screen and (min-width:600px) {
    .jikoshokai {
        display: grid;
        grid-template-columns: 80% 20%;
      }
    .profile-detail {
        display: grid;
        grid-template-columns: repeat(3,auto);
        gap: 20px;
        /*grid-template-rows: repeat(4,auto);*/
    }
}